<div class="page" id="landing-page">
  <main>
    <div class="intro"><%= data.info.name %></div>
    <div class="tagline"><%= data.info.tagline %></div>
    <!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
    <div class="social-icons">
      <% data.info.links.each do |link| %>
        <a title="<%= link.title %>" target="<%= link.target %>" href="<%= link.url %>"><i class="<%= link.styleclass %> faa-bounce animated-hover faa-fast"></i></a>
      <% end %>
    </div>
  </main>
</div>
